html{
    margin: auto;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 50px;
    font-size: 320x;
    margin-top: 10px;
    
}
nav a{
    text-decoration: none;
    background-color:#007bff;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    color: rgb(82, 3, 65);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}
 nav a:hover{
    background-color: #919191;
}
.container{
    width: 575px;
    height: 825px;
    background-color: grey;
    padding-left: 30px;
   margin-left: 400px;
}
#height,#weight{
    width: 150px;
    height: 25px;
    margin-top: 30px;
}
#weight-guide{
    margin-left: 75px;
    margin-right: 25px;
}
#results{
     font-size: 35px;
     margin-left: 90px;
     margin-top: 20px;
     color: rgb(241, 241,241);
}

button{
    width: 150px;
    height: 35px;
    margin-left: 100px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    font-size: 17px;
}
h1{
    padding-left: 15px;
    padding-top: 25px;
}